@charset "UTF-8";
/*======================================================
--共通設定
======================================================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}

ul,
ol {
  list-style: none;
}

body {
  color: #333;
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: bold;
  background-image: url(../images/bg.png);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fafafa;
}

@media (min-width: 769px) {
  .flex {
    display: flex;
  }
}

.contents {
  padding: 1.875rem;
}
@media (min-width: 769px) {
  .contents {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.pageTitle {
  margin: 3.125rem 0 0 1.875rem;
  padding-left: 0.5em;
  border-left: 5px double #333;
  font-size: 1.875rem;
}

/*======================================================
--footer
======================================================*/
.footer {
  margin-top: 3.125rem;
  padding: 2.5rem 0 1.25rem;
  background-image: url(../images/line.png);
  background-repeat: repeat-x;
  text-align: center;
}

.sitemap__list {
  justify-content: center;
  margin-bottom: 1.25rem;
}
@media (min-width: 769px) {
  .sitemap__item + .sitemap__item {
    margin-left: 2em;
  }
}

/*======================================================
--header
======================================================*/
.header {
  text-align: center;
  padding: 20px 0;
}

/*========================
  #gnaviの設定
======================== */
.gnavi {
  text-align: center;
  margin: 0 30px;
}
.gnavi__item {
  position: relative;
}
@media (min-width: 769px) {
  .gnavi__item {
    flex: 1 1 100px;
    border-left: 5px double #333;
  }
  .gnavi__item:last-child {
    border-right: 5px double #333;
  }
}
.gnavi__link {
  display: block;
  padding: 10px 0;
}
.gnavi__link:hover, .gnavi__link.now {
  background-color: #666;
  color: #fff;
  opacity: 1;
}

/*========================
  .breadcrumbの設定
======================== */
.breadcrumb {
  margin: 20px 0 0 30px;
}
.breadcrumb__list {
  display: flex;
}
.breadcrumb__link {
  text-decoration: underline;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: "＞";
}

/*======================================================
--sidebar
======================================================*/
.sidebar {
  margin-top: 3.125rem;
  padding: 1.875rem;
  background-color: #ddd;
  border-radius: 1.25rem;
}
@media (min-width: 769px) {
  .sidebar {
    margin-top: 0;
    flex: 0 0 250px;
  }
}
.sidebar__title {
  margin-bottom: 0.625rem;
  border-bottom: 5px double #333;
  text-align: center;
}
.sidebar__list {
  margin-left: 1.5em;
  list-style-type: square;
}
.sidebar__item {
  margin-bottom: 0.5em;
}

/*======================================================
--artist
======================================================*/
@media (min-width: 769px) {
  .main {
    margin-left: 30px;
  }
}

.artist {
  max-width: 860px;
  border: 5px double #333;
  padding: 20px 30px;
  border-radius: 20px;
}
.artist__title {
  background-color: #666;
  color: #ffd817;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.875rem;
}
.artist__imgBox {
  text-align: center;
}
@media (min-width: 769px) {
  .artist__imgBox {
    margin-right: 30px;
    min-width: 300px;
  }
}

.profile {
  margin-top: 50px;
}
@media (min-width: 769px) {
  .profile {
    margin-top: 0;
  }
}
.profile__title {
  background-image: url(../images/profile.png);
  background-repeat: no-repeat;
  background-position: left 4px;
  padding-left: 25px;
}
.profile__text {
  margin-top: 1em;
}

.rank {
  margin-top: 50px;
}
.rank__title {
  background-image: url(../images/rank.png);
  background-repeat: no-repeat;
  background-position: left 4px;
  padding-left: 25px;
}
.rank__list {
  list-style-type: decimal;
  margin-left: 30px;
}
.rank__item {
  margin-top: 0.5em;
}
/*# sourceMappingURL=style.css.map */