/*======================================================
--artist
======================================================*/

@use "variables" as v;

.main {

  @include v.pc {
    margin-left: 30px;
  }
}


.artist {
  max-width: 860px;
  border: v.$line;
  padding: 20px 30px;
  border-radius: 20px;

  &__title {
    background-color: v.$c-gray-1;
    color:v.$c-yellow;
    text-align: center;
    margin-bottom: 20px;
    font-size: v.rem(30);
  }

  &__imgBox {
    text-align: center;
  }
}

.profile {
  margin-top: 50px;

  @include v.pc {
    margin-top: 0;
  }
  
  &__title {
    @include v.title-icon( url(../images/profile.png) );//書き出したCSSから見てどこにいるのか
  }

  &__text {
    margin-top: 1em;
  }
}

.rank {
  margin-top: 50px;

  &__title {
    @include v.title-icon( url(../images/rank.png) );
  }

  &__list {
    list-style-type: decimal;
    margin-left: 30px;
  }

  &__item {
    margin-top: 0.5em;
  }
}

