/*======================================================
--artist
======================================================*/

@use "variables as v"

.artist {
  max-width: 860px;
  border: v.$line;
  padding: 20px 30px;
  border-radius: 20px;

}